
#navigation-bar {
    background-color: $navBackground;
    .navigation-menu {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        height: 48px;
        max-width: 1280px;
        .navigation-logo {
            img {
                height: 25px;
                width: 134px;
                object-fit: contain;
            }
        }
        .navigation-category-list {
            color: $menuTextColor;
            width: max-content;
            white-space: nowrap;
            line-height: 100%;
            li {
                display: inline;
                padding-right: 20px;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
        .icon {
            background-image: $spriteImage;
            background-size: auto;
            display: inline-block;
        }
        .navigation-search {
            transition: border .3s;
            width: 100%;
            position: relative; 
            min-width: 250px;
            input {
                border: 1px solid #dfdfdf;
                border-radius: 0;
                width: 100%;
                padding: 2px;
                background-color: #fff;
                color: #404040;
            }
            button {
                background-color: Transparent;
                border: none;
                overflow: hidden;
                outline:none;   
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 4px;
                right: 0;
                border: 0;
                position: absolute;
                background: none;
                z-index: 2;
                .icon-search {
                    width: 17px;
                    height: 17px;
                    background-position: -6350px 0;
                }  
            }
        }
        .navigation-icon {
            white-space: nowrap;
            line-height: 100%;
            padding-left: 0px;
            li {
                display: inline;
                padding-left: 20px;
                .icon-user {
                    background-position: -8895px 0;
                    width: 24px;
                    height: 24px;
                }    
                .icon-favorite {
                    background-position: -4895px 0;
                    width: 24px;
                    height: 24px;
                }    
                .icon-bag {
                    background-position: -1540px 0;
                    width: 24px;
                    height: 24px;
                }
            }            
        }        
    }
}