body {
    font-family: 'Apercu', 'Gill Sans MT', 'Gill Sans', 'Arial','sans-serif';
	margin: 0;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: .05em;
}
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}
button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
}